@charset "utf-8";

/* reset */
a { text-decoration: none; color: inherit; }
body, select, input { font:normal 16px "nanum",sans-serif; color: #333; }
body { min-width: 320px; }
/* html, body { width: 100%; } */
html, body { width: 100%; height: 100%; overflow-y: scroll; /* 항상 스크롤 공간 확보 */ scrollbar-width: none;/* firefox 대응 */ -ms-overflow-style: none;/* IE대응 */ }
html::-webkit-scrollbar, body::-webkit-scrollbar { display: none; }/* chrome, safari 대응 */

/* fontawesome */
.icon { font-size: 24px; }
.white { color: #fff; }
.black { color: #333; }
.yellow { color: #fdd000; }

/* top */
#top { width: 100%; border-bottom: 1px solid #ccc; padding: 20px; box-sizing: border-box; display: flex; justify-content: space-between; align-items: center; position: fixed; background-color: #fff; left: 0; top: 0; z-index: 9999; box-shadow: 0 0 5px #ccc;}
#top h1 { width: 150px; height: 30px; position: relative; }
#top h1 img { width: 100%; position: absolute; }
#top h1 img:last-child { display: none; }
#top h1:hover img:last-child { display: block; }

#menu_wrap { background-color: #222; color: #fff; width: 60%; height: 100%; position: fixed; top: 0; right: -60%; /* right:0; */ z-index: 9999; padding: 20px; box-sizing: border-box; overflow-y: auto; }
.menu_close { float: right; margin-bottom: 20px; }
.menu_logo { clear: both; margin-bottom: 20px; }
.menu_logo img { width: 100%; }

#gnb ul li { line-height: 2.5em; }
#gnb ul li a { font-weight: bold; }/* 1단기본a */
#gnb ul li a.on { color: #fdd000; }/* 1단선택a */

#gnb .submenu { display: none; }
#gnb .submenu li { text-indent: 1em; line-height: 2em; }
#gnb .submenu li a { font-weight: normal; font-size: 14px; color: #ccc; }/* 2단기본a */
#gnb .submenu li a.selected { text-decoration: underline; }/* 2단선택a */

/* container */
#container { padding: 100px 15px 15px 15px; box-sizing: border-box; }
/* 공통사항 */
#container section { width: 100%; }
.title_info { margin-bottom: 10px; }

.title { width: 80%; height: 35px; position: relative;  margin-bottom: 20px; font-size: 30px; min-width: 320px; }
.title_bg { display: block; width: 100%; height: 20px; background-color: #fdd000; position: absolute; bottom: 0; }
.point { position: absolute; }
.sub_title { font-size: 30px; margin-bottom: 20px; }

/* page1 */
#page1 { height: auto; min-height: 550px; }
.page1_con_wrap { line-height: 1.5em; }
.page1_theme { margin-bottom: 15px; }
.page1_theme_con { font-size: 15px; }
.page1_btn { background-color: #fdd000; display: block; width: 100px; height: 30px; display: flex; justify-content: center; align-items: center; margin: 10px 0 20px; font-weight: bold; box-sizing: border-box; }
.page1_btn:hover { border: 2px solid #fdd000; background-color: #fff; }

.page1_list_wrap { width: 100%; overflow-x: auto; }
.page1_list_inner { width: 150%; }
.page1_list_inner li { width: 28%; float: left; border: 1px solid #999; border-radius: 10px; overflow: hidden; text-align: center; margin:2% 1.5%; background-color: #fff; }
.page1_list_inner li a { display: block; }
.page1_list_inner li a img { width: 100%; }

/* page2 */
#page2 { clear: both; }
.title_info2 { width: 95%; margin: 0 auto; text-align: justify; }
.com_list { margin: 20px 0; overflow: hidden; }
.com_list li { width: 31%; float: left; border: 1px solid #ccc; margin: 1%; box-sizing: border-box; }
.com_list li img { width: 100%; }

.page_img img { width: 100%; }

/* page3 */
.page3_subtitle { border-bottom: 1px solid #ccc; font-weight: bold; margin-bottom: 15px; padding-bottom: 15px; }
.page3_contxt { font-size: 11px; color: #666; line-height: 1.3em; margin-bottom: 30px; }

/* page4 */
#page4 .sub_title { text-align: center; }
.title_info2 { text-align: center; }
.page4_con_wrap { margin-top: 30px; }
.search_wrap { margin-bottom: 30px; }
#subject, #search_word { text-indent: 1em; border: 1px solid #999; }
#subject { width: 30%; height: 36px; }
#search_word { width: 67%; height: 32px; }
#search_btn { margin-top: 10px; width: 100%; height: 40px; background-color: #fdd000; border: none; font-weight: bold; }

#information { width: 100%; }
#information caption { display: none; }
#information tr { border-top: 1px solid #ccc; }
#information th, #information td { padding: 20px; }
#information td:last-child { text-align: center; }
#information td a { border: 1px solid #ccc; padding: 8px; border-radius: 5px; }
#information td a:hover { background-color: #ccc; }
#information td a.current { background-color: #fdd000; }
#information td a.current:hover { background-color: #ccc; }

/* page5 */
.title_info5 { font-weight: bold; margin-bottom: 20px; }
.title_info5_con { line-height: 1.5em; margin-bottom: 20px; }

#recruit_btn { width: 100%; height: 40px; border: none; background-color: #fdd000; font-weight: bold; margin-bottom: 10px; }
.feature { border: 1px solid #ccc; border-radius: 10px; margin-bottom: 30px; overflow: hidden; }
.feature img { width: 100%; }
.feature figcaption { padding: 30px; }
.feature figcaption span { display: block; }
.rec_txt2 { font-weight: bold; margin: 15px 0; }
.rec_txt3 { color: #888; }

/* bottom */
#bottom { background-color: #444; padding-bottom: 2%; }
.fnb { background-color: #fdd000; padding: 10px 0; text-align: center; }
.fnb li { display: inline; margin: 0 10px; }
.fnb li a { font-weight: bold; }
.fnb li a:hover { text-decoration: underline; }

#bottom h3 { width: 50%; margin: 30px auto 10px; }
#bottom h3 img { width: 100%; }

.sns { overflow: hidden; width: 160px; margin: 0 auto 30px;}
.sns li { width: 35px; height: 35px; background-color: #fff; border-radius: 20px; float: left; margin: 0 2px; }
.sns li:hover { background-color: #fdd000; }

.fnb_info { width: 90%; margin: 0 auto; line-height: 1.5em; color: #fff; text-align: center; }
.fnb_info li { display: inline-block; margin: 0 5px; font-size: 13px; }

.top_btn { position: fixed; right: 10px; bottom: 10px; transition: all 0.3s; z-index: 999999; text-shadow: 1px 1px 0px #333; }
.top_btn:hover { transform: rotate(360deg) translate(2px); }